# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/TSV_Fixer/v17
/delete/TSV_Fixer/v17
/TSV_Fixer.sln

#Output folder
/x64/Release

#Compilation artifacts
/TSV_Fixer/x64/